$facebookWhite: #e9ebee;
$facebookBlue: #3b5998;

$flashGreen: #11b281 !default;
$flashGreenTextColor: #1d2d38 !default;

$flashRed: #740303 !default;
$flashRedTextColor: $facebookWhite !default;

$flashBlue: #0d679b !default;
$flashBlueTextColor: $facebookWhite !default;

$flashDefault: teal !default;
$flashDefaultTextColor: $facebookWhite !default;
$flashDefaultTextShadow: 0 0 0 transparent !default;

$insetBottomToTop: inset 0px 0.4vh 0.2vh rgba(#000, 0.15) !default;
$customMaterialShadowInsetNorth: inset 0px -0.25vh 0.5vh 0px rgba(#000, 0.15) !default;