$flashTransitionDuration: 0.5s !default;
$flashTransition: height $flashTransitionDuration ease-in-out !default;
$flashButtonFilterTransition: filter ease-in-out 0.25s !default;

$flashHueRotate: -20deg;